<nav>
{{#link-to "index" class="NavMenu"}}Home{{/link-to}}
{{#link-to "PSWeb" class="NavMenu"}}PSWeb{{/link-to}}
{{#link-to "login" class="NavMenu"}}Login{{/link-to}}
{{#link-to "about" class="NavMenu"}}About{{/link-to}}
{{#link-to "Devs" class="NavMenu"}}Devs Page{{/link-to}}
{{#link-to "MyRoute" class="NavMenu"}}My FirstRoute{{/link-to}}
{{#link-to "contact" class="NavMenu"}}Contact Us{{/link-to}}
</nav>
<br>
{{Router}}
{{outlet}}

