<h1>Welcome to Super Rentals</h1>
Hello You!
	<p>We <b>hope</b> you find exactly what you're looking for in a place to stay.</p>
<br/><br/>
{{filter-listing filteredList=filteredList 
autoComplete=(action 'autoComplete') search=(action 'search')}}
	<p>
	<code>border-style:</code> <code>none|hidden|dotted|dashed|solid|double| groove|ridge|inset|outset|inherit...
	</code>
	</p>
<div style="height:500px;overflow-y:auto;
border-top:3px groove rgba(0,50,0, 0.5);
border-bottom:1px dotted gray;padding-bottom:3px;
">
	{{#each model as |rentalHouse|}}
		{{rental-listing rental=rentalHouse}}
	{{/each}}
</div>