    {{tab-bar }}
    <div class="col-md-2" style="margin:0px 2px 0px 0px;padding:0px;width: 160px;">
      <div class="list-group" style="overflow-y: auto;maxheight:800px;">
        <div class="list-group-item">
          Pages
        </div>
        {{#each model.pages as |page|}}
            <div class="list-group-item text-center">
            	{{#link-to 'PSWeb.page' page.id}}
            		<div class="container bg-info" style="width: 90%;height:150px;"></div>
              Page {{page.id}}
            	{{/link-to}}
	           </div>
	       {{/each}}
      </div>
    </div>
    <div class="col-md-10" style="{{!-- background-color:blue; --}}margin: 0px; padding:0px;width:908px;">
     {{outlet}}
    </div>